@import "./utils/variables.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    transition: 0.3s;
}

:root[data-theme="ligth"] {
    background: $header-color-ligth;
}

:root[data-theme="dark"] {
    background: $header-color-dark;
}