@import "../../utils/variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: $header-font-color;
    background: $header-color;
    padding: 40px 30px 15px 30px;
    border-bottom: solid 1px black;

    .nav {
        display: flex;
        align-items: center;

        .nav__link {
            cursor: pointer;
            margin-right: 40%;

            &:hover {
                color: $header-font-color-hover;
                border-color: $header-font-color-hover;
            }
        }

        .nav__link_selected {
            border-bottom: solid 1px $header-font-color;
        }
    }
}

.mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3% 20% 30px 20%;
    background: $header-color;
    color: $header-font-color;

    .mainInfo__title {
        font-size: 50px;
        text-transform: uppercase;
    }

    .mainInfo__text {
        margin-top: 20px;
        text-indent: 40px;
        font-size: 18px;
        max-width: 80%;
        text-align: center;
    }

    .mainInfo__button {
        margin-top: 50px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 20% 30px 20%;
    background: $header-color;
    color: $header-font-color;

    .info__title {
        font-size: 50px;
        text-transform: uppercase;
    }

    .info__possibility {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .info__possibility__img {
        width: 150px;
    }

    .info__can {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .info__can__title {
        font-size: 30px;
    }
}