@import "../../utils/variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 40px 30px 15px 30px;
    border-bottom: solid 1px black;
    transition: 0.3s;

    .header__element {
        display: flex;
        align-items: center;
    }

    .themeCheckbox {
        margin-right: 20px;
    }

    .nav {
        display: flex;
        align-items: center;

        .nav__link {
            cursor: pointer;
            margin-right: 40%;
        }
    }
}

.mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3% 20% 30px 20%;
    transition: 0.3s;

    .mainInfo__title {
        font-size: 50px;
        text-transform: uppercase;
    }

    .mainInfo__text {
        margin-top: 20px;
        text-indent: 40px;
        font-size: 18px;
        max-width: 80%;
        text-align: center;
    }

    .mainInfo__button {
        margin-top: 50px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 20% 30px 20%;
    transition: 0.3s;

    .info__title {
        font-size: 50px;
        text-transform: uppercase;
    }

    .info__possibility {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .info__possibility__img {
        width: 150px;
    }

    .info__can {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .info__can__title {
        font-size: 30px;
    }
}

:root[data-theme="ligth"] {
    .mainInfo {
        color: $header-font-color-ligth;
        background: $header-color-ligth;
    }

    .info {
        color: $header-font-color-ligth;
        background: $header-color-ligth;
    }
}

:root[data-theme="dark"] {
    .mainInfo {
        background: $header-color-dark;
        color: $header-font-color-dark;
    }

    .info {
        background: $header-color-dark;
        color: $header-font-color-dark;
    }
}