$header-color-dark: #010409;
$header-color-second-dark: #080d16;
$header-color-objects-dark: #dee6f3;
$header-color-objects-hover-dark: #8c959f;
$header-font-color-dark: #ffffff;
$header-font-color-hover-dark: #dbdbdb;
$header-font-color-second-dark: #363636;
$header-font-color-second-hover-dark: #000000;

$header-color-ligth: #ececec;
$header-font-color-ligth: #000000;
$header-font-color-hover-ligth: #919191;
$header-color-second-ligth: #e5e7eb;
$header-color-objects-ligth: #444444;
$header-color-objects-hover-ligth: #000000;
$header-font-color-second-ligth: #e6e6e6;
$header-font-color-second-hover-ligth: #ffffff;