$header-color: #010409;
$header-color-second: #080d16;
$header-color-objects: #dee6f3;
$header-color-objects-hover: #8c959f;
$header-font-color: #ffffff;
$header-font-color-hover: #dbdbdb;
$header-font-color-second: #363636;
$header-font-color-second-hover: #000000;