$header-color: #010409;
$header-color-second: #b7beca;
$header-color-second-hover: #8c959f;
$header-font-color: #ffffff;
$header-font-color-hover: #dbdbdb;
$header-font-color-second: #363636;
$header-font-color-second-hover: #000000;